/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import 'nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.main{
    background-image: ~/images/mainbg.jpeg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.main .btn{
    background-color:transparent;
    width:300px; height:300px;
}
.main .btn.btn1{
    left:20%; top:30%;
}
.main .btn.btn2{

}
.main .btn.btn3{
    left:20%; top:150%;
}
.main .btn.btn4{
    left:150%; top:150%;
}
